/* Mobile first */
html {
  font-size: 62.5%;
}

body {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  background-color: darkcyan;
  padding: 1rem;
  font-size: 1.6rem;
}
/* vanhemman säännöt: LAPSET FLEXATAAN */
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* lapsien säännöt*/
.wrapper > * {
  padding: 1rem;
  flex-grow: 1;
  flex-basis: 100%;
}
/* main navigointi */
.wrapper .main-nav {
  padding: 0rem;
}
.main-nav ul li {
  background-color: aliceblue;
  border: grey 1px solid;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main-nav ul > * {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 1rem;
}
.header {
  background-color: gold;
}
.main-nav {
  background-color: azure;
}
.main {
  background-color: darkorange;
  padding: 0;
}
p {
  margin: 1rem;
}
.aside-1 {
  background-color: mediumseagreen;
}
.aside-2 {
  background-color: seagreen;
}
.footer {
  background-color: lightgreen;
}
/* some-navigointi */
.facebook {
  background-color: darkblue;
}
.twitter {
  background-color: lightblue;
}
.email {
  background-color: grey;
}
.some-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: aliceblue;
}
.some-nav ul > * {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 1rem;
}

/* Tablet-näkymä säännöt */
@media only screen and (min-width: 426px) {
  /*ody {
    background-color: lightblue;
  }*/
  .wrapper .aside-1,
  .wrapper .aside-2 {
    flex-basis: auto;
  }
  /*
  .aside-1 {
    flex-basis: auto;
  }
  .aside-2 {
    flex-basis: auto;
  }*/
}
/* Desktop-näkymä säännöt */
@media only screen and (min-width: 769px) {
  /*body {
    background-color: lightcoral;
  }*/
  .wrapper .aside-1 {
    order: 1;
  }
  .wrapper .main {
    flex-basis: 0;
    order: 2;
    flex-grow: 400;
  }
  .wrapper .aside-2 {
    order: 3;
  }
  .wrapper .footer {
    order: 4;
  }
}
