/* Mobile first */
html {
  font-size: 62.5%;
}

body {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  background-color: darkcyan;
  padding: 10px;
}
/* vanhemman säännöt: LAPSET FLEXATAAN */
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* lapsien säännöt*/
.wrapper > * {
  padding: 10px;
  flex-grow: 1;
  flex-basis: 100%;
}

.header {
  background-color: gold;
}

.main-nav {
  background-color: azure;
}

.main {
  background-color: darkorange;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main-nav {
  padding: 0%;
}
.main-nav ul > * {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.main-nav ul li {
  border: solid 5px darkgreen;
  padding: 10px;
}

.aside-1 {
  background-color: mediumseagreen;
}

.aside-2 {
  background-color: seagreen;
}

.footer {
  background-color: lightgreen;
}

.some-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.some-nav ul > * {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 1rem;
}

.some-nav ul .facebook {
  background-color: blue;
}

.some-nav .icon {
  fill: white;
  width: 2.5rem;
  display: inline-block;
}
.some-nav {
  margin: 47rem -1rem -1rem -1rem;
}

.some-nav ul .facebook {
  background-color: #4267b2;
}
.some-nav ul .email {
  background-color: grey;
}
.some-nav ul .twitter {
  background-color: #1c9bef;
}
.twitter .icon {
  fill: white;
  width: 2.5rem;
  display: inline-block;
}
li {
  padding: 0;
}

/* Tablet-näkymä säännöt */
@media only screen and (min-width: 426px) {
  body {
    background-color: lightblue;
  }
  .wrapper .aside-1,
  .wrapper .aside-2 {
    flex-basis: auto;
  }
  /*.wrapper {
    flex-direction: row;
  }
  .aside-1 {
    flex-basis: auto;
  }
  .aside-2 {
    flex-basis: auto;
  }*/
}

@media only screen and (min-width: 769px) {
  body {
    background-color: lightcoral;
  }
  .wrapper .aside-1 {
    order: 1;
  }
  .wrapper .main {
    flex-basis: 0;
    order: 2;
    flex-grow: 2;
  }
  .wrapper .aside-2 {
    order: 3;
  }
  .wrapper .footer {
    order: 4;
  }
}
